@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: monsterrat;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body-banner-color: #e34731;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* // HOMEPAGE STYLE //  */
#move-to-about-us {
  font-size: 35px;
  color: var(--body-banner-color);
}

/* // HEADER STYLE //  */
.about-us-header {
  background-color: white;
  color: black;
}

/* // navbar  */
.about-us-header .container nav ul li {
  font-weight: 600;
}
.about-us-header .container nav ul li:hover {
  font-weight: 600;
  color: var(--body-banner-color);
  transform: scale3d(1.3, 1.3, 30);
  transition-duration: 400ms;
  transform: all;
}
.about-us-header .container #apply-now-btn {
  background-color: var(--body-banner-color);
  color: white;
}
.about-us-header .container #company-logo {
  background-color: transparent;
  color: var(--body-banner-color);
  font-size: 25px;
}

/* // MAIN CONTENT STYLE //  */
.section-title {
  width: max-content;
  height: 50px;
  font-size: 32px;
  margin-top: 15px;
}
.sub-title-section {
  color: var(--body-banner-color);
}

/* // banner */
.banner-section {
  height: 372px;
  background-color: var(--body-banner-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-section #edu-fin {
  margin-top: 30px;
  font-size: 55px;
  color: #f0b827;
}

/* // about us section  */
.about-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1220px;
  height: max-content;
  gap: 0px;
  opacity: 0px;
}

/* // mission and visions page  */
.mission-vision-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mission-vision-section .component-holder {
  width: 70%;
  margin: 20px 15%;
  color: white;
  font-size: 14px;
}
.component-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mis-vis-comp {
  width: 30%;
  height: 360px;
  top: 259px;
  padding: 24px 67px 36px 69px;
  gap: 0px;
  border-radius: 24px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
#missionImage {
  background-color: rgba(236, 210, 106, 0.6);
}
#visionImage {
  background-color: rgba(209, 113, 225, 0.6);
}
.image-mis-vis {
  height: 175px;
  width: 200px;
  margin: 25px auto;
}

/* // impactful numbers  */

.imp-num-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 246, 247, 1);
}
.num-container {
  margin: 50px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.numberVal {
  font-size: 61px;
  font-weight: 700;
  color: rgb(65, 65, 243);
}
.number-val-title {
  font-size: 31px;
  font-weight: 700;
  color: black;
}
.number-val-desc {
  font-size: 18px;
  font-weight: 300;
  color: grey;
}

/* // founder section  */
.founders-section {
  background-color: rgba(8, 1, 45, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.founder-image-holder {
  padding: 30px 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.founder-image {
  margin: auto;
  height: 300px;
  width: 350px;
  border-radius: 20px;
}

/* // services section  */
.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-images-container h2 {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.r {
  background-color: #dd6c5dac;
  margin: 15px;
  border-radius: 10px;
}
.g {
  background-color: rgba(51, 209, 78, 0.769);
  margin: 15px;
  border-radius: 10px;
}
.y {
  background-color: rgba(209, 206, 51, 0.769);
  margin: 15px;
  border-radius: 10px;
}
.b {
  background-color: rgba(48, 97, 196, 0.769);
  margin: 15px;
  border-radius: 10px;
}
/* // contact section  */
.contact-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.form-container div form {
  background-color: rgba(177, 241, 176, 1);
  border-radius: 12px 0px 0px 0px;
  border: 1.5px 0px 0px 0px;
  padding: 30px 20px;
  border: 2px solid rgb(7, 58, 7);
  width: fit-content;
}
.form-container div form input {
  width: 375px;
  height: 60px;
  top: 37px;
  padding: 15px 292px 15px 25px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  display: block;
}
#contact-btn {
  width: Fixed (243px) px;
  height: Fixed (60px) px;
  padding: 12px 32px 12px 32px;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(227, 71, 49, 1);
}
.policy-terms{
  max-width: 375px;
  display: block;
  padding: 0 15px;
  font-size: 13px;
  color: black;
  font-weight: 400;
}
.policy-terms a{
  color:#e34731;
}